<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Alerte</title>
<title>Reset password Agency</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--  link rel="stylesheet" href="../../css/font-awesome.min.css" -->
<link href="../../css/fonts.googleapis.com.css" rel="stylesheet">
<!-- Bulma Version 0.7.2-->
<link rel="stylesheet" href="../../css/bulma.min.css" />
<link rel="stylesheet" type="text/css" href="../css/login.css">
<link rel="stylesheet" type="text/css"
	href="./../webjars/sweetalert2/6.2.1/dist/sweetalert2.css">
<link rel="stylesheet" type="text/css" href="../css/agency.css">
<script src="./../webjars/jquery/3.1.1/jquery.js"></script>
<script src="./../webjars/lodash/4.17.10/lodash.js"></script>

<script src="./../webjars/sweetalert2/6.2.1/dist/sweetalert2.js"></script>

</head>
<body>
	<section class="section is-fullheight">
		<div class="card-content">
			<div class="content">
				<div class="control has-icons-left has-icons-right">
					<table class="table is-responsive">
						<thead>
							<tr>
								<th>Id</th>
								<th>Titre</th>
								<th>Date</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="alerte : ${page.content}">
								<td th:text="${alerte.idalerte}"></td>
								<td th:text="${alerte.titre}"></td>
								<td th:text="${alerte.dateAlerte}"></td>

							</tr>
						</tbody>
					</table>
					<div class="pagination-div">
						<span th:if="${page.hasPrevious()}"> <a
							th:href="@{/client/alertes(page=${page.number-1},size=${page.size})}">Previous</a>
						</span>
						<th:block
							th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
							<span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
							<span th:unless="${page.number == i}"> <a
								th:href="@{/client/alertes(page=${i},size=${page.size})}">[[${i}+1]]</a>
							</span>
						</th:block>
						<span th:if="${page.hasNext()}"> <a
							th:href="@{/client/alertes(page=${page.number+1},size=${page.size})}">Next</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>