<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Comptes</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--  link rel="stylesheet" href="../../css/font-awesome.min.css" -->
<link href="../../css/fonts.googleapis.com.css" rel="stylesheet">
<!-- Bulma Version 0.7.2-->
<link rel="stylesheet" href="../../css/bulma.min.css" />
<link rel="stylesheet" type="text/css" href="../css/login.css">
<link rel="stylesheet" type="text/css"
	href="./../webjars/sweetalert2/6.2.1/dist/sweetalert2.css">
<link rel="stylesheet" type="text/css" href="../css/agency.css">
<script src="./../webjars/jquery/3.1.1/jquery.js"></script>
<script src="./../webjars/lodash/4.17.10/lodash.js"></script>

<script src="./../webjars/sweetalert2/6.2.1/dist/sweetalert2.js"></script>
<script src="../../js/searchCompte.js"></script>

</head>
<body>
	<section class="section is-fullheight">
		<div class="card-content">
			<div class="content">
       			<h2 class="subtitle" >Comptes</h2>
				<div class="control has-icons-left has-icons-right">
				<section class="section Toload" id="compteLoad">
					<table class="table is-responsive">
						<thead>
							<tr>
								<th>N°</th>
								<th>Type</th>
								<th>Etat</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="compte : ${page.content}">
								<td th:text="${compte.numecompte}"></td>
								<td th:text="${compte.typeCompte}"></td>
								<td th:text="${compte.etatCompte}"></td>
								<td><button class="button is-info btn-iban" th:id="${compte.idcompte}">Afficher RIB</button></td>
							</tr>
						</tbody>
					</table>
					</section>
					<section id="iban">
					</section>
				</div>
			</div>
		</div>
	</section>

</body>
</html>