<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Votre profil client</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--  link rel="stylesheet" href="../../css/font-awesome.min.css" -->
<link href="../../css/fonts.googleapis.com.css" rel="stylesheet">
<!-- Bulma Version 0.7.2-->
<link rel="stylesheet" href="../../css/bulma.min.css" />
<link rel="stylesheet" type="text/css" href="../css/login.css">
<link rel="stylesheet" type="text/css"
	href="./../webjars/sweetalert2/6.2.1/dist/sweetalert2.css">
<link rel="stylesheet" type="text/css" href="../css/agency.css">
<script src="./../webjars/jquery/3.1.1/jquery.js"></script>
<script src="./../webjars/lodash/4.17.10/lodash.js"></script>
<script src="../../js/setDocumentsElectroniques.js"></script>


</head>
<body>
	<section class="section is-fullheight">
		<div class="card-content">
			<div class="content">
       			<h2 class="subtitle" >Données personnelles</h2>
				<div class="control has-icons-left has-icons-right">
					<h3>Souscription documents électroniques</h3>
					<input type="hidden" id="idClient" th:value="${client.idclient}">
					<input type="checkbox" name="docsElectroniques" id="docsElectroniques" th:checked="${client.docsElectroniques}">										
				</div>
			</div>
		</div>
	</section>

</body>
</html>