<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Reset password Agency</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--  link rel="stylesheet" href="../../css/font-awesome.min.css" -->
<link href="../../css/fonts.googleapis.com.css" rel="stylesheet">
<!-- Bulma Version 0.7.2-->
<link rel="stylesheet" href="../../css/bulma.min.css" />
<link rel="stylesheet" type="text/css" href="../css/login.css">
<link rel="stylesheet" type="text/css"
    href="./../webjars/sweetalert2/6.2.1/dist/sweetalert2.css">
<link rel="stylesheet" type="text/css" href="../css/agency.css">
<script src="./../webjars/jquery/3.1.1/jquery.js"></script>
<script src="./../webjars/lodash/4.17.10/lodash.js"></script>

<script src="./../webjars/sweetalert2/6.2.1/dist/sweetalert2.js"></script>
<script src="../../js/searchClient.js"></script>

</head>

<body>

    <div class="tile is-parent">
        <div class="columns">
            <div class="column">
                <figure class="image is-128x128">
                    <img src="/images/logo.png">
                </figure>
            </div>
            <div class="column is-four-fifths">
                <div class="tile is-child has-text-centered">
                    <p class="title">Espace Agent</p>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">

                    <p class="menu-label">General</p>
                    <ul class="menu-list">
                        <li><a class="is-active">Bienvenue dans votre espace
                                [[${#httpServletRequest.remoteUser}]]</a></li>
                        <br />

                        <h2 class="subtitle">
                            Vous pouvez gérer vos <strong>besoins</strong>.
                        </h2>
                        <li><a>Retour</a></li>

                        <li><a>Lien</a></li>
                    </ul>

                </aside>
            </div>
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">Recherche Client</h1>

                        </div>
                    </div>
                </section>

                <div class="column is-13">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">Rechercher par Carte ou par Nom
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon"> <i class="fa fa-angle-down"
                                    aria-hidden="true"></i>
                            </span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="control has-icons-left has-icons-right">
                                    
                                        <div class="field is-grouped">
                                            <div class="control">
                                                <label class="radio"> <input type="radio"
                                                    name="reponse" value="yes"> Rechercher par Carte
                                                </label> <label class="radio"> <input type="radio"
                                                    name="reponse" value="no" checked> Rechercher par Nom
                                                </label>
                                            </div>
                                            <div class="field has-addons">
                                                <div class="control">
                                                    <input class="input" type="text"
                                                        placeholder="Chercher par carte ou par nom"
                                                        name="chercher" id='txtSearch'>
                                                </div>
                                                <div class="control">
                                                    <button class="button is-info" id="btnsearch">Rechercher</button>
                                                </div>



                                            </div>


                                        </div>

                                        <br>

                    


                                    <table class="table is-responsive" id="listClient">
                                        <thead>
                                            <tr>
                                                <th><abbr title="Numéro Carte ">Id Client</abbr></th>
                                                <th><abbr title="Nom ">Nom</abbr></th>
                                                <th><abbr title="Prénom ">Prénom</abbr></th>
                                                <th><abbr title="Adresse ">adresse</abbr></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr th:each="c:${listClient}">
                                                <td th:text="${c.idclient}"></td>
                                                <td th:text="${c.nomClient}"></td>
                                                <td th:text="${c.prenomClient}"></td>
                                                <td th:text="${c.adresse}"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>