<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Connexion Agency</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../css/font-awesome.min.css">
<link href="../css/fonts.googleapis.com.css" rel="stylesheet">
<!-- Bulma Version 0.7.2-->
<link rel="stylesheet" href="../css/bulma.min.css" />
<link rel="stylesheet" type="text/css" href="../css/login.css">
<link rel="stylesheet" type="text/css" href="./webjars/sweetalert2/6.2.1/dist/sweetalert2.css">
<link rel="stylesheet" type="text/css" href="../css/agency.css">
<script src="./webjars/jquery/3.1.1/jquery.js"></script>
<script src="./webjars/lodash/4.17.10/lodash.js"></script>

<script src="./webjars/sweetalert2/6.2.1/dist/sweetalert2.js"></script>
<script src="../js/changePassword.js"></script>

</head>
<body>

    <div class="tile is-parent">
        <div class="columns">
            <div class="column">
                <figure class="image is-128x128">
                    <img src="/images/logo.png">
                </figure>
            </div>
            <div class="column is-four-fifths">
                <div class="tile is-child has-text-centered">
                    <p class="title">Changement de mot de passe</p>
                </div>
            </div>

        </div>
    </div>
    <section class="section">
        <div class="container has-text-centered">
            <h3 class="title has-text-grey">Utilisateur</h3>
            <p class="subtitle has-text-grey">Saisir un nouveau mot de passe.</p>
        </div>
        <div id="error_pwd" class="notification" style="display:none">
              <button class="delete"></button>
                 les mots de passe ne sont pas identiques. 
            </div>
        <div>
            <form class="form-horizontal" th:object="${user}">
                <input class="input is-large" th:field="*{id}" name="iduser"
                    type="text" placeholder="Votre login" autofocus id="iduser" style="display:none" />
                <div class="field">
                    <label> Nom de l'utilisateur </label>
                    <div class="control">
                        <input class="input is-large" th:field="*{ssoId}" name="ssoId"
                            type="text" placeholder="Votre login" autofocus id="ssoid"
                            readonly />
                    </div>
                </div>
                <div class="field">
                    <label> Nouveau mot de passe </label>
                    <div class="control">

                        <input class="input is-large" id="password" type="password"
                            th:field="*{password}" />

                        <div class="progress" style="height: 5px; margin-bottom: 0px;">
                            <progress class="progress" id="pwdStrengthProgress"
                                style="width: 0%;"></progress>
                        </div>
                        <span class="title" id="pwdStrengthLabel"
                            style="position: relative; float: right;"></span>
                    </div>
                </div>
                <div class="field">
                    <label> Confirmation mot de passe </label>
                    <div class="control">

                        <input class="input is-large" type="password" id="confirmPwd" />
                    </div>
                </div>

                <div class="field">
                    <label> question </label> 
                    <div class="control has-icons-left is-large">
                        <div class="select is-large">
                            <select id="ddlQuestion">
                            </select>
                        </div>
                        <span class="icon is-large is-left"> <i
                            class="fas fa-question"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label> Réponse </label>
                    <div class="control">

                        <input id="answer" type="text" class="input is-large"
                            th:field="*{answer}" />
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth"
                    type="button" value="Sign In" id="sendUser">Enregister</button>

            </form>
        </div>
    </section>
</body>
</html>