<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Display regulations</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../css/font-awesome.min.css">
<link href="../css/fonts.googleapis.com.css" rel="stylesheet">
<!-- Bulma Version 0.7.2-->
<link rel="stylesheet" href="../css/bulma.min.css" />
<link rel="stylesheet" type="text/css" href="../css/login.css">
<link rel="stylesheet" type="text/css" href="./webjars/sweetalert2/6.2.1/dist/sweetalert2.css">
<link rel="stylesheet" type="text/css" href="../css/agency.css">
<script src="./webjars/jquery/3.1.1/jquery.js"></script>
<script src="./webjars/lodash/4.17.10/lodash.js"></script>

<script src="./webjars/sweetalert2/6.2.1/dist/sweetalert2.js"></script>


</head>
<body>
    <div class="tile is-parent">
        <div class="columns">
        <div class="column">
                <figure class="image is-128x128">
                    <img src="/images/logo.png">
                </figure>
            </div>
            <div class="column is-four-fifths">
                <div class="tile is-child has-text-centered">
                    <p class="title">Confidentialité des données personnelles</p>
                </div>
            </div>
            
        </div>
    </div>
    <section class="section">
        <div class="container">
            <h1 class="title"> </h1>
            <h2 class="subtitle">
                <strong>1. Ce que nous faisons de vos données personnelles </strong>
            </h2>
           <div>
           Dans le strict respect des réglementations en vigueur, nous traitons principalement des données personnelles de quatre natures : <br> <br>

		    - Les données personnelles dites déclaratives, c'est-à-dire recueillies directement auprès de vous ou de partenaires avec lesquels nous avons un lien contractuel. <br>
		   -  Les données personnelles liées au fonctionnement des produits et services, générées notamment lors de l'utilisation des services en ligne.<br>
		   -  Les données personnelles provenant d'informations publiques, comme un profil public sur les réseaux sociaux.<br>
		   -  Les données personnelles que nous calculons ou inférons à partir de données que vous avez fournies. Il peut par exemple s'agir de l'évaluation d'un risque crédit suite à une demande d'emprunt de votre part.<br> <br>
            
            </div>
            
             <h2 class="subtitle">
                <strong>2.Quelles utilisations faisons-nous de vos données personnelles?</strong>
            </h2>
            <div>
            Nous faisons une utilisation responsable de vos données personnelles, dans un but précis et utile.
			Ces données nous aident ainsi à fluidifier la gestion de notre activité, à satisfaire à nos obligations légales, 
			mais aussi et surtout à vous apporter le service le plus efficace possible. <br> <br>         
            </div>
            
             <h2 class="subtitle">
                <strong>3. Combien de temps conservons-nous vos données personnelles? </strong>
            </h2>
            <div>
            Les durées de conservation, définies de manière précise, veillent à ne pas excéder le temps strictement nécessaire à la bonne exécution du traitement. Pour déterminer chaque durée, nous avons pris en compte :<br> <br>

		    - Les différentes finalités pour lesquelles sont collectées ces données <br>
		    - Les personnes concernées par la collecte <br>
		    - Le respect d’obligations légales, réglementaires ou reconnues par la profession auxquelles nous sommes tenus. <br> <br>
            
            </div>			
		</div>
	</section>

</body>
</html>