<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Reset password Agency</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../css/font-awesome.min.css">
<link href="../css/fonts.googleapis.com.css" rel="stylesheet">
<!-- Bulma Version 0.7.2-->
<link rel="stylesheet" href="../css/bulma.min.css" />
<link rel="stylesheet" type="text/css" href="../css/login.css">
<link rel="stylesheet" type="text/css" href="./webjars/sweetalert2/6.2.1/dist/sweetalert2.css">
<link rel="stylesheet" type="text/css" href="../css/agency.css">
<script src="./webjars/jquery/3.1.1/jquery.js"></script>
<script src="./webjars/lodash/4.17.10/lodash.js"></script>

<script src="./webjars/sweetalert2/6.2.1/dist/sweetalert2.js"></script>
<script src="../js/resetPassword.js"></script>

</head>
<body>
    <div class="tile is-parent">
        <div class="columns">
        <div class="column">
                <figure class="image is-128x128">
                    <img src="/images/logo.png">
                </figure>
            </div>
            <div class="column is-four-fifths">
                <div class="tile is-child has-text-centered">
                    <p class="title">Mot de passe oublié</p>
                </div>
            </div>
            
        </div>
    </div>
    <section class="section">
        <div class="container">
            <h1 class="title">Recherche de l'utilisateur</h1>
            <h2 class="subtitle">
                A partir de vos données, on va générer un nouveau <strong>mot
                    de passe</strong>.
            </h2>
            <form id="searchForm" >
            <div id="recherche">
                <div class="field">
                    <label>Email ou login du l'utilisateur</label>
                    <div class="control">
                        <input class="input is-large" id="loginSearch" name="loginSearch"
                            type="text" placeholder="Votre Email ou login" autofocus>
                    </div>
                </div>
                <button id="search"
                    class="button is-block is-info is-large is-fullwidth" type="button"
                    value="Sign In">Entrer</button>

            </div>
            </form>
        </div>
    </section>
    <section class="section" id="userData" >
        <div class="container">
            <h1 class="title">Données de l'identification</h1>

            <div id="divQuestion">
                <div class="field">
                    <label>Question</label>
                    <div class="control">
                        <input class="input is-large" id="question" type="text"
                            placeholder="Question de l'utilisateur" autofocus readonly>
                    </div>
                </div>

                <div class="field">
                    <label>Réponse</label>
                    <div class="control">
                        <input class="input is-large" id="reponse" type="text"
                            placeholder="Votre Email ou login" autofocus>
                    </div>
                </div>


            </div>

            <div id="rechercheCarte">
                <div class="field">
                    <label>Numéro de carte</label>
                    <div class="control">
                        <input class="input is-large" id="numCarte" name=""numCarte""
                            type="text" placeholder="numCarte" autofocus>
                    </div>
                </div>

            </div>

            <div id="envoi">

                <button 
                    class="button is-block is-info is-large is-fullwidth" type="button"
                    value="Sign In" id="SendPwd">Envoyer nouveau mot de passe</button>
             
            </div>
        </div>
    </section>
</body>
</html>